:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-ed464d: #ed464d;
  --color-ced4da: #ced4da;
  --color-232f3e: #232f3e;
  --color-febd69: #febd69;
}

.green {
  color: var(--color-212529);
  font-size: 14px;
  font-family: Roboto !important;
}
.red {
  color: var(--color-212529);
}
.quill {
  background-color: white;
}
.form-control {
  box-shadow: none;
  border-color: var(--color-ced4da);
}
.title {
  font-size: 28px;
  font-family: Roboto !important;
}

.button {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  padding: 13px 33px 13px 33px;
  border-radius: 25px;
  text-align: center;
}

.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}

/* login page */
.auth-container {
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.auth-container h3 {
  color: orangered;
}

.auth-img {
  flex: 60%;
}

.auth-card {
  flex: 40%;
}

.auth-img img {
  max-width: 100%;
}

.product-img {
  max-width: 200px;
}

@media screen and (max-width: 500px) {
  .login-class {
    width: 100% !important;
    margin-top: 120px !important;
  }

  .auth-img {
    display: none;
  }
}
