:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-ed464d: #ed464d;
  --color-ced4da: #ced4da;
  --color-232f3e: #232f3e;
  --color-febd69: #febd69;
}

.green {
  color: var(--color-212529);
  font-size: 14px;
  font-family: Roboto !important;
}
.red {
  color: var(--color-212529);
}
.quill {
  background-color: white;
}
.form-control {
  box-shadow: none;
  border-color: var(--color-ced4da);
}
.title {
  font-size: 28px;
  font-family: Roboto !important;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px 13px 33px;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}

@media screen and (max-width: 500px) {
  .login-class {
    width: 100% !important;
    margin-top: 120px !important;
  }
}
